/* Base body styles */
body {
	font-family: 'Lora', sans-serif !important;
	color: #37474f !important;
	background-color: #eceff1 !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	min-height: 100vh !important;
	overflow: hidden !important;
}
.custom-scrollable-content {
	overflow-y: auto;
}
.card {
	background-color: #ffffff !important;
	border: 1px solid #cfd8dc !important;
	box-shadow: 0 2px 4px #b0bec5 !important;
	border-radius: 8px !important;
	margin: 0px auto !important;
	transition: box-shadow 0.3s ease !important;
	min-height: 50vh;
	max-height: 92vh;
	display: flex;
	flex-direction: column;
	min-width: 300px;

	@media (max-width: 768px) {
		width: 100%;
		min-height: auto;
		max-height: none;
	}

	@media (min-width: 769px) {
		width: 100%;
		max-width: 1400px;
		min-width: 500px !important;
	}
}
/* Loading overlay and spinner styles */
.loading-overlay {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background: rgba(211, 211, 211, 0.5) !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	backdrop-filter: blur(3px) !important;
	z-index: 1000 !important;
}

.large-spinner {
	width: 4rem !important;
	height: 4rem !important;
	border-width: 0.5rem !important;
}

/* Card subcomponents */
.app-card-header,
.app-card-footer {
	padding: 2px !important;
}

.app-card-header {
	background-image: linear-gradient(
		to right,
		#0f2027,
		#203a43,
		#2c5364
	) !important;
	color: #ffffff !important;
	border-radius: 8px 8px 0 0 !important;
	font-weight: 500 !important;
	font-size: 1.4rem !important;
}

.app-card-footer {
	background-color: #f5f5f5 !important;
	color: #8b0000 !important;
	border-top: 1px solid #cfd8dc !important;
	border-radius: 0 0 8px 8px !important;
	text-align: left !important;
	font-weight: 400 !important;
	font-size: medium !important;
	font-style: italic !important;
}

/* Input and select styles */
.app-form-input,
.select {
	border: 1px solid #b0bec5 !important;
	background-color: #f7fafc !important;
	border-radius: 5px !important;
	font-size: 1.2rem !important;
	font-weight: 500 !important;
	outline: none !important;
	transition: border-color 0.3s, box-shadow 0.3s !important;

	&:focus {
		border-color: #29b6f6 !important;
		box-shadow: 0 0 0 0.25rem rgba(25, 118, 210, 0.5) !important;
	}
}
.app-form-input:disabled {
	border: none !important;
	cursor: not-allowed !important;
	background-color: hsl(213, 69%, 97%) !important;
}

/* Label styling */
.app-label {
	display: inline-block !important;
	font-size: 1.1rem !important;
	font-weight: 300 !important;
	&.required::after {
		content: '*' !important;
		color: #ff0000 !important;
		margin-left: 4px !important;
	}
}

/* Button and modal dialog enhancements */
.button {
	background-color: #01579b !important;
	color: #ffffff !important;
	padding: 12px 18px !important;
	border: none !important;
	border-radius: 5px !important;
	cursor: pointer !important;
	transition: background-color 0.3s, box-shadow 0.3s !important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;

	&:hover,
	&:focus {
		background-color: #0288d1 !important;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
	}
}

.custom-modal-size .modal-dialog {
	max-width: 100% !important;
}
/* Responsive font size adjustments */
@media (max-width: 768px) {
	.app-card-header,
	.app-card-footer,
	.app-form-input,
	select,
	.app-label,
	.button {
		font-size: 0.9rem !important;
		/* Decrease font size for smaller screens */
	}
}
.custom-table-container {
	display: block;
	overflow-x: auto;
	overflow-y: auto;
	max-height: 59vh;
}

.custom-table {
	width: 100%;
	min-width: 100%;
	table-layout: auto;
	box-shadow: none !important;
}

.custom-table thead th {
	position: sticky;
	top: 0;
	background-color: #f8f9fa;
}

.custom-table td {
	padding: 4px !important;
}

// login and register styles start

.centered-card {
	display: flex;
	justify-content: center;
	align-items: center !important;
	background: #f5f5f5;
	overflow-x: hidden !important;
}
.login-img {
	width: 243px;
	height: 333px;
	margin-left: 50px;
	margin-top: 25px;
}

.register-img {
	width: 343px;
	height: 533px;
	margin-left: 30px;
}

.input-box {
	width: 100% !important;
}

.card-register {
	width: 900px !important;
}

// login and register styles end

@media (max-width: 768px) {
	.custom-table,
	.custom-table th,
	.custom-table td {
		font-size: 0.75rem;
	}
	.card-register {
		width: 100% !important;
	}
	.login-card-container {
		margin-top: 30px;
	}
	.register-card-container {
		margin-top: 150px;
	}
	.login-img {
		margin-left: 0;
	}
	.register-img {
		max-width: 300px;
		margin-top: 0;
		margin-left: 0;
	}
}

@media (min-width: 769px) {
	.custom-table,
	.custom-table th,
	.custom-table td {
		font-size: 1.1rem;
	}
}

.center-text-input {
	text-align: center;
}

.right-text-input {
	text-align: right;
}

.table-footer {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	/* Adds a black bottom border */
}
